<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>zz小说网--首页</title>
    <link
      href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.26.0/axios.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.common.dev.js"></script>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="AllBlock">
      <header class="headNav">
        <div class="e1">
          <span><a href="index.html">zz小说网</a></span>
        </div>

        <div class="e2">
          <div class="smallSearchbar" style="display: none">
            <form>
              <input type="text" placeholder="请输入您要搜索的内容..." />
              <button type="submit"></button>
            </form>
          </div>
          <div class="e3" style="display: none">
            <span>
              <a href="register.html">注册</a>
            </span>
            <span>
              <a href="login.html">登录</a>
            </span>
            <span>
              <a href="https://www.bilibili.com/video/av80433022">充值</a>
            </span>
          </div>
          <div class="e4">
            <span>
              <a href="user.html">asdgas</a>
            </span>
            <span>
              <a href="https://www.bilibili.com/video/av80433022">充值</a>
            </span>
          </div>
        </div>
      </header>
      <div class="mainBlock">
        <div class="headblock">
          <div class="sec">
            <!-- 搜索框 -->
            <div class="mainSearchbar">
              <form>
                <input type="text" placeholder="请输入您要搜索的内容..." />
                <button type="submit"></button>
              </form>
            </div>
          </div>
        </div>
        <div class="homeArea">
          <div class="contentBlock">
            <div class="k1">
              <template v-for="(reco, index) in recoData">
                <template v-if="index < 4">
                  <div class="novelBlock">
                    <div class="eachNovel">
                      <template v-for="(item, key, ind) in reco">
                        <template v-if="key === 'pictureURL'">
                          <div class="novelImg">
                            <img :src="item" alt="" />
                          </div>
                        </template>
                      </template>
                      <div class="novelCont">
                      <template v-for="(item, key, ind) in reco">
                          <template v-if="key === 'novelName'">
                            <div class="novelName">
                              <span>{{item}}</span>
                            </div>
                          </template>
                          <template v-if="key === 'novelTag'">
                            <div class="novelTag">
                              <span>{{item}}</span>
                            </div>
                          </template>
                          <template v-if="key === 'brief'">
                            <div class="brief">
                              <p>{{item}}</p>
                            </div>
                          </template>
                        </template>
                      </div>
                    </div>
                  </div>
                </template>
              </template>
            </div>
          </div>
          <div class="ratingBlock">
            <div class="ratingTitle"><span>今日排行榜</span></div>
            <div class="rating1">
              <div class="ratingNum">1</div>
              <div class="ratingImg"><img :src="FirstNovelImg" alt="" /></div>
              <div class="ratingCont1">
                <div class="ratingNovelTitle">
                  <a :href="'/novelPage.html?novelID=' + FirstnovelID">{{FirstNovelName}}</a>
                </div>
                <div class="r1">
                  <div class="ratingWriter">{{FirstNovelWriter}}</div>
                  <div class="ratingTag">{{FirstNovelTag}}</div>
                </div>
              </div>
            </div>

            <div v-for="(Rank, index) in RankData" :key="index">
              <template v-if="index < 4">
                <div class="ratingAnother">
                  <span class="ratingNum">{{index + 2}}</span>
                  <span class="ratingCont2">
                    <template v-for="(item, key, ind) in Rank">
                      <template
                        v-if="key === 'novelName' || key === 'novelTag'"
                      >
                        <template v-if="key === 'novelName'">
                          <span class="ratingNovelTitle">
                            <a href="">{{item}}</a>
                          </span>
                        </template>
                        <template v-if="key === 'novelTag'">
                          <span class="ratingTag anotherTag">{{item}}</span>
                        </template>
                      </template>
                    </template>
                  </span>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
      <footer class="footNav">
        <span>Jeacson_Edger All rights reserved © 2022</span>
      </footer>
    </div>
  </body>
  <script>
    Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示

    let vm = new Vue({
      el: ".contentBlock",
      data: {
        recoData: [],
      },
      methods: {
        showInfo(event) {
          console.log(event.target);
        },
      },
      computed: {},
      watch: {},
      mounted() {
        axios
          .get("http://v4934114w1.wocp.fun/novel/recommendedNovel")
          .then((res) => {
            this.recoData = res.data;
            console.log("recomm", this.recoData);
          })
          .catch((err) => {
            console.error(err);
          });
      },
    });

    new Vue({
      el: ".ratingBlock",
      data: {
        RankData: [],
        firstRankData: {},
      },
      methods: {
        showInfo(event) {
          console.log(event.target);
        },
      },
      computed: {
        FirstNovelName() {
          return this.firstRankData.novelName;
        },
        FirstNovelWriter() {
          return this.firstRankData.writerName;
        },
        FirstNovelTag() {
          return this.firstRankData.novelTag;
        },
        FirstNovelImg() {
          // return  "http://v4934114w1.wocp.fun/picture/"+ this.FirstNovelName +".jpg";
          return this.firstRankData.pictureURL;
        },
        FirstnovelID() {
          return this.firstRankData.novelID;
        }
      },
      watch: {},
      mounted() {
        axios
          .get("http://v4934114w1.wocp.fun/novel/queryRank")
          .then((res) => {
            this.RankData = res.data;
            this.firstRankData = this.RankData.shift();
            console.log(this.firstRankData);
            console.log(this.RankData);
          })
          .catch((err) => {
            console.error(err);
          });
      },
    });
  </script>
</html>
