* {
    margin: 0%;
    padding: 0%;
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}


body {
    background-color: #ced8e6a1;
}


a {
    text-decoration: none;
    color: rgba(230, 210, 210, 0.884);
}


.AllBlock {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.headNav {
    width: 100%;
    height: 50px;
    background-color: #70a1ff;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.e1 {
    width: 150px;
    position: absolute;
    left: 96px;
    top: 13px;
}

.e2 {
    width: 700px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 97px;
}

.e3, .e4 {
    width: 240px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
}

 .smallSearchbar {
    position: absolute;
    left: 0;
}

 .smallSearchbar form {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .smallSearchbar input {
    width: 300px;
    height: 32px;
    border-radius: 42px;
    border: 2px solid #324B4E;
    background: #F9F0DA;
    transition: .3s linear;
    float: right;
    text-align: center;
 }
 .smallSearchbar input:focus {
    width: 300px;
 }
 .smallSearchbar button {
    position: absolute;
    background: none;
    width: 32px;
    height: 36px;
    top: 6px;
    right: 5px;
    cursor: pointer;
    border: none;
 }
 .smallSearchbar button:before{
   content: "\f002";
   font-family: FontAwesome;
   color: #324b4e;
 }



.mainBlock {
    
    width: 95vw;
    height: 90vh;
    background-color: #9dbdf9;
}


.homeArea {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #eccc68;
    justify-content: center;
    align-items: center;
}

.novelArea {
    display: flex;
    background-color: #f1d98f;
    width: 95%;
    height: 90%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.upload {
    width: 250px;
    height: 150px;
    margin-top: 30px;
}

#uploadBtn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: #70a1ff 3px solid;
    border-radius: 30px;
    background-color: #a4beee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}



.novelBlock {
    width: 505px;
    display: flex;
    flex-direction: column;
    float: left;
}



.novelImg {
    width: 282px;
    height: 376px;
    display: flex;
    background-color: #c1e444c2;
    align-items: center;
    justify-content: center;
    border: 4px solid #e9e8e1;
    border-radius: 5px;
}

.novelImg img {
    width: 100%;
}

.novelImg ::after {
    filter: blur(20px);
}

.novelInfo {
    width: 50%;
    height: 85%;
    background-color: #c4d2ec;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.book-name {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 50px;
}

.book-info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px
}

.novelTag {
    color: rgb(73, 145, 145);
    border: #468c94 2px solid;
    border-radius: 2px;
}

.favorNum {
    margin-left: 20px;
}

.novelBrief {
    width: 80%;
    height: 20%;
    border: #f0de78 2px solid;
    border-radius: 6px;
}

.novelBrief p {
    text-decoration: underline;
}

.btn {
    width: 120px;
    height: 80px;
    background-color: #e9e8e1;
    border: 4px solid #f1d98f;
    border-radius: 15px;
    color: #70a1ff;
}

.footnav {
    position: absolute;
    bottom: 10px;
    right: 607px;
}