* {
    margin: 0%;
    padding: 0%;
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}


body {
    background-color: #ced8e6a1;
}


a {
    text-decoration: none;
    color: rgba(230, 210, 210, 0.884);
}


.AllBlock {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.headNav {
    width: 100%;
    height: 50px;
    background-color: #70a1ff;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.e1 {
    width: 150px;
    position: absolute;
    left: 96px;
    top: 13px;
}

.e2 {
    width: 700px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 97px;
}

.e3 {
    width: 240px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
}

 .smallSearchbar {
    position: absolute;
    left: 0;
}

 .smallSearchbar form {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .smallSearchbar input {
    width: 300px;
    height: 32px;
    border-radius: 42px;
    border: 2px solid #324B4E;
    background: #F9F0DA;
    transition: .3s linear;
    float: right;
    text-align: center;
 }
 .smallSearchbar input:focus {
    width: 300px;
 }
 .smallSearchbar button {
    position: absolute;
    background: none;
    width: 32px;
    height: 36px;
    top: 6px;
    right: 5px;
    cursor: pointer;
    border: none;
 }
 .smallSearchbar button:before{
   content: "\f002";
   font-family: FontAwesome;
   color: #324b4e;
 }



.mainBlock {
    
    width: 95vw;
    height: 200vh;
    background-color: #9dbdf9;
}


.homeArea {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.contentBlock {
    height: inherit;
    width: 100%;
    background-color: #eccc68;
}

.k1 {
    height: 77vh;
    margin-bottom: 34px;
}

.novelBlock {
    width: 505px;
    display: flex;
    flex-direction: column;
    float: left;
}

.eachNovel {
    width: 480px;
    height: 190px;
    display: flex;
    margin-top: 54px;
    margin-left: 68.73px;
    justify-content: space-around;
    align-items: center;
    background-color: #f3f2b3d0;
}


.novelImg {
    width: 135px;
    height: 176px;
    display: flex;
    background-color: #c1e444c2;
    align-items: center;
    justify-content: center;

}

.novelImg img {
    width: 100%;
}

.novelImg ::after {
    filter: blur(20px);
}

.novelCont {
    width: 50%;
    height: 92%;
}

.k2 {
    width: 100%;
    height: 724px;
    background-color: aliceblue;
}

.ratingTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: 700;
}

.ratingNum {
    width: 10%;
    font-size: larger;
    text-decoration: wavy;
    float: left;
}

.ratingBlock {
    width: 30%;
    
}

.rating1 {
    display: flex;
    margin-bottom: 20px;
}

.ratingNovelTitle {
    font-weight: 600;
    font-size: large;
}

.ratingImg {
    width: 100px;
    height: 150px;
    background-color: #9E9C9C;
}

.ratingImg img {
    width: 100%;
}

.ratingCont1 {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.r1 {
    display: flex;
    justify-content: space-around;
}

.ratingAnother {
    margin-bottom: 20px;
}

.rating2 {
    display: flex;
    justify-content: space-evenly;
}

.ratingCont2 {
    display: flex;
    justify-content: space-around;
}

.ratingTag {
    color: rgb(73, 145, 145);
    border: #468c94 2px solid;
    border-radius: 2px;
}

.footnav {
    position: absolute;
    bottom: 10px;
    right: 607px;
}